$main-fs: 16px;
$main-ff: "Josefin Sans", sans-serif;
$main-fw: 400;
$module: 11px;
$headers-fw: 700;

$success-color: #81c784;
$success-contrast: #000;
$info-color: #64b5f6;
$info-contrast: #000;
$warning-color: #ffb74d;
$warning-contrast: #000;
$error-color: #e24d4d;
$error-contrast: #fff;

$_module-rem: ($module / $main-fs) * 1rem;
$_shape: 3px;
$_shadow: 1px 1px 5px 0px 5px;
$_title-fs: 1.3571429rem;
$_title-fw: $headers-fw;
$_title-lh: 1.05;

//Main palette
$main-palette: (
  50: #e5e6e9,
  100: #bec0c8,
  200: #9296a3,
  300: #666c7e,
  400: #464d63,
  500: #252d47,
  600: #212840,
  700: #1b2237,
  800: #161c2f,
  900: #0d1120,
  A100: #6177ff,
  A200: #2e4cff,
  A400: #0024fa,
  A700: #0020e0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
@function main-palette($key: $main-palette) {
  @return map-get($main-palette, $key);
}
@function main-palette-contrast($key: $main-palette) {
  @return map-get(map-get($main-palette, contrast), $key);
}

$_types: (
  default: (
    bg: #fff,
    color: inherit,
    headerBg: main-palette(50),
    headerColor: main-palette-contrast(50),
  ),
  accent: (
    bg: accent-palette(500),
    color: accent-palette-contrast(500),
    headerBg: rgba(#000, 0.1),
    headerColor: accent-palette-contrast(500),
  ),
  success: (
    bg: $success-color,
    color: $success-contrast,
    headerBg: rgba(#000, 0.1),
    headerColor: $success-contrast,
  ),
  info: (
    bg: $info-color,
    color: $info-contrast,
    headerBg: rgba(#000, 0.1),
    headerColor: $info-contrast,
  ),
  warning: (
    bg: $warning-color,
    color: $warning-contrast,
    headerBg: rgba(#000, 0.1),
    headerColor: $warning-contrast,
  ),
  error: (
    bg: $error-color,
    color: $error-contrast,
    headerBg: rgba(#000, 0.1),
    headerColor: $error-contrast,
  ),
);

:host {
  background: transparent 50% 50% no-repeat;
  background-size: cover;
  border-radius: $_shape;
  box-shadow: $_shadow;
  display: block;
  margin-bottom: $_module-rem * 2;
  position: relative;

  .card-img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
  }
  .card-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin: 0;
    padding: $_module-rem ($_module-rem * 2);

    .card-title {
      font-size: $_title-fs;
      font-weight: $_title-fw;
      line-height: $_title-lh;
      margin: 0;
    }
  }
  .card-content {
    display: block;
    padding: $_module-rem * 2;
    position: relative;
    width: 100%;
  }
  .bg-image {
    border-radius: inherit;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  @each $type, $color in $_types {
    &.card-#{$type} {
      background: map-get($color, bg);
      color: map-get($color, color);

      .card-header {
        background: map-get($color, headerBg);
        color: map-get($color, headerColor);
      }
      &.outline {
        border-color: map-get($color, bg);
        color: map-get($color, bg);

        .card-header {
          background: transparent;
          color: inherit;
        }
      }
    }
  }
  &.custom-bg-color,
  &.custom-border-color,
  &.custom-gradient,
  &.bg-image {
    .card-header {
      background: rgba(#000, 0.1);
      color: #000;
    }
  }
  &.outline {
    background: none;
    border: 1px solid main-palette(500);
    color: inherit;

    &.card-default {
      border-color: main-palette(500);
      color: main-palette(500);
    }
  }
  &.bg-image {
    background: transparent 50% 50% no-repeat;
    background-size: cover;
  }
}
